# Prerequisites
*.d
*.props

# Compiled Object files
*.slo
*.lo
*.o

*.pdb
*.tlog
*.lastbuildstate
*.recipe
*.log
*.idb
*.filters
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

x64/Debug/*.obj

x64/Debug/Project1.vcxproj.FileListAbsolute.txt
